#profile-pic{
	position: absolute;
	width: 250px;
	height: 290px;
	left: 40%;
	top: 100px;
	border-radius: 50%;
	padding: 5px;
}

#name {
	position: absolute;
	width: 481px;
	height: 106px;
	left: 509px;
	top: 400px;

	font-family: Arial; /* change to Rlaeway later*/
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 106px;

	color: #000000;
}
h4 {
	position: absolute;
	left: 509px;
	top: 500px;
	font-family: Arial; /* change to Raleway later*/
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 130px;
	color: #000000;
}
#major {
	top: 520px;
	font-weight: lighter;
}
h5{
	position: absolute;
	left: 509px;
	top: 540px;
	font-family: Arial; /* change to Rlaeway later*/
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	line-height: 106px;
	color: #000000;
}
#side-image {
	left: 6%;
	top: 15%;
	border-radius: 50%;
	padding: 5px;
	height: 300px;
	width: 300px;
	display: inline-block;
}

#side-image-right {
	left: 50%;
	top: 15%;
	border-radius: 50%;
	padding: 5px;
	height: 300px;
	width: 300px;
	display: inline-block;

}
p {
	left: 6%;
	top: 30%;
	margin-top: 50%;
	margin-right: 10%;
	margin-left: 10%;
	display: inline-block;

}
#title {
	width: 80%;
	height: 90px;
	left: 40%;
	right: 40%;
	
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 90px;
	line-height: 76px;
	display: inline-block;
}
#body-text {
	left: 30%;
	top: 10%;
	right: 10%;

	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 35px;
	width: 50%;
	display: inline-block;

	color: #000000;
}
#contact-icon {
	width: 30px;
	height: 30px;
	
}