/* TEXT */
#title {
	text-align: center;
}

#subtitle {
	justify-content: flex-end;
}
#major {
	font-weight: lighter;
	justify-content: flex-end;
}
#minor {
	font-weight: lighter;
}
p {
	left: 6%;
	top: 20%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	font-size:16px;
}
h4 {
	font-family: Arial; 
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	line-height: 130px;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
h5 {
	font-family: Courier;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	line-height: 106px;
	color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
}

#body-text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 35px;
	color: #000000;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
}

#resume-text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 35px;
	color: #000000;
	padding-top: 3%;
	display: inline;
}
#contact-text {
	font-family: Arial;
	font-size: 14px;
	line-height: 35px;
	color: #000000;
	padding-top: 3%;
	/* display: flex;
	flex-direction: column;
	justify-content: flex-end; */
	margin-left: 20%;
}
#project-text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#cs-proj-title {
	text-align: center;
	font: Courier;
	font-family: 'Courier New', Courier, monospace;
}
/* IMAGES */
#side-image {
	display: flex;
	justify-content: flex-start;
	border-radius: 50%;
	padding: 10px, 5px 50px, 50px;
	height: 300px;
	width: 300px;
}
.profile-img {
    display: block;
    margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 40%;
	border-radius: 50%;
	/* margin-top: 8%; */
	margin-bottom:2%;
}

#cs-proj-img {
	display: flex;
	justify-content: flex-start;
	padding: 10px, 5px 50px, 50px;
	height: auto;
	width: 100%;
	max-width: 600px;
	max-height: 500px;
}

#cs-proj-img-vert {
	display: flex;
	justify-content: center;
	height: auto;
	width: 100%;
	max-width: 300px;
	max-height: 500px;
	/* centers it */
	margin-left:20%; 
}

#cs-proj-img-vert-twitter {
	display: flex;
	justify-content: center;
	height: auto;
	width: 100%;
	max-width: 400px;
	max-height: 500px;
	margin-left: 10%;
}


#side-image-right {
	left: 50%;
	top: 15%;
	border-radius: 50%;
	padding: 5px;
	height: 300px;
	width: 300px;
	display: flex;
	justify-content: flex-end;

}
#mid-image {
	border-radius: 50%;
	height: 300px;
	width: 300px;
	display: flex;
	justify-content: center;

}


#contact-icon {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-left: 25%;
}

#flyer-img {
	width: 370px;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#carousel-wide-img {
	width: 700px;
	height: 500px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.carousel-inner img {
	margin: auto;
  }

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
.carousel-control-next-icon {
	 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


#example-img {
	width: 80%;
	height: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

/* DIVS  */
.container {
	display: flex;
	justify-content: space-evenly;
}
.item {
	justify-content: space-evenly;
	align-content: flex-start;
	flex-wrap: wrap;
}
.project-container {
	display: flex;
	justify-content: flex-start;
	padding-left: 10px;
}
.project{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
}
.resume-pdf {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#back {
	margin-left: 5%;
}
#top {
	display: flex;
	justify-content: center;
	align-items: center;
}
.cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 30px; 
	max-width: 960px;
	margin: 0 auto 30px;
	
}

/* .cards {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
 }
  
 .card {
	 /* flex: 0 1 24%; */
	 flex: 1 0 500px;
	 box-sizing: border-box;
	 margin: 1rem .25em;
 } */

 @media screen and (min-width: 40em) {
    /* .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    } */
 
    .card {
		/* flex: 0 1 calc(50% - 1em); */
		max-width: calc(50% -  1em);

    }
}
 
@media screen and (min-width: 60em) {
	.card {
		/* flex: 0 1 calc(25% - 1em); */
		max-width: calc(25% - 1em);

    }
}
 
@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}
.centered {
    margin: 0 auto;
    padding: 0 1em;
}


article {
	/* position: relative; */
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  }
  
  .proj-img {
	height: 100%;
	width: auto;
	max-width: 300px;
	max-height: 300px;
	object-fit: scale-down;
	padding:1%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .proj-title {
	bottom: 0;
	width: 100%;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.2);
	font-size: 25px;
  }

/* NAVBAR */
.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}
button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
}

.page-section {
    padding: 6rem 0;
}

.page-section .page-section-heading {
    font-size: 2.25rem;
	line-height: 2rem;
}


.text-secondary {
    color: #2c3e50 !important;
}
.text-uppercase {
    text-transform: uppercase !important;
}
.text-center {
    text-align: center !important;
}