body {
  background-color: #f3c3c3;
} 


/*html { 
  background: url('/images/aya.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

h1 {
	font-family: 'Amatic SC', cursive;
  /* color: blue; */
  text-align: center; 
  
}

h2 {
	font-family: 'Barrio', cursive;
	font-size: 10000px;
	text-align: center;
	text-align:;
}

h3 {
	font-family: "Lobster";
	font-size: 30px;
}

p {
  font-family: "Helvetica";
  font-size: 22px;
}

