body {
  background-color: #f3c3c3;
}

h1 {
	font-family: "Amatic+SC";
  color: blue;
  text-align: center;
  
}

h3 {
	font-family: "Lobster";
	font-size: 30px;
}

p {
  font-family: "Helvetica";
  font-size: 22px;
}