<html lang="en">


<head>
<% include ../partials/head %>
</head>

<body class="container">
 <header>
 <% include ../partials/header %>
 </header>


 <main>

 <div class="jumbotron">
 <h1>Welcome to my Website!</h1>
 <p>I'm Sarah!</p>
 </div>

 <div class="content">
 <img class="my-picture" src="/images/clarion alley candid.jpg" />
 <p>My name is Sarah Chou. I don't know how to import a picture quiet yet but I will figure it out.</p>
 <p> I am excited to learn all these new things and develop my own website and web app and all these things</p>
 </div>

 </main>

 <footer>
    <% include ../partials/footer %>
  </footer>


</body>


</html>