<html lang="en">


<head>
<% include ../partials/head %>
<title> Sarah Chou - About</title>
</head>

<body class="container">
 <header>
 <% include ../partials/header %>
 </header>


 <main>

 <div class="jumbotron">
 <h1>Welcome to my Website!</h1>
 <p>I'm Sarah!</p>
 </div>

 <div class="image-container">
    <a> <center>
    <img class="my-picture" src="/images/clarion alley candid.jpg" />    </center> 
    </a>

 <!-- <div class="content">
 <img class="my-picture" src="/images/clarion alley candid.jpg" /> -->
 <p>My name is Sarah Chou. I'm currently a sophomore at Northeastern University studying Computer Science and Cognitive Psychology as a combined major. I plan to graduate in May 2020, after completing five years of classes with three co-ops in between.</p>
 <p> I was born and raised in San Francisco, California, but relocated to the beautiful city of Boston to pursue my higher education, and so far I am loving every minute of this new experience (especially the seasons!).</p>

 <p> I am currently working at State Street Global Advisors for my first co-op. I am a Project Manager for the IT Infrastructure Architecture team. I began in January 2017 and plan to continue on until the end of June.</p>
 </div>

 </main>

 <footer>
    <% include ../partials/footer %>
  </footer>


</body>


</html>