<html lang="en">
<head>
    <% include ../partials/head %>
    <title> Sarah Chou - Contact </title>
</head>
<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Let's connect!</h1>
      <center>
        <a> 
    <img id="letsconnect" src="/images/letsconnect.png" height="480" width="280">
    </a>
      </center>

      <center>
        <p> Find me at one of the links below! Let's tweet, chat, send memes, and "like" each other's pictures! :) </p>
      </center>

      <center>
      <a href="https://www.facebook.com/SARAHLCHOU" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
      <a href="https://twitter.com/sarahchou_" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
      <a href="https://www.instagram.com/holycowitssarahchou/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
      <a href="https://github.com/sarahchou" target="_blank"><i class="fa fa-github fa-2x"></i></a>
      <a href="https://www.linkedin.com/in/sarah-chou-5548b16" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      </center>


    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>