<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script src="/js/main.js"></script>
</head>

<body>

  <h1>Sarah Chou</h1>

  <p id="demo">
    Hackathons are so fun omg!! 
  </p>

  <button type="button" onclick="myFunction()">
    Press me
  </button>

</body>

</html>