<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
   <% include ../partials/header %>
  </header>

  <BODY BACKGROUND="aya" src="/images/aya.png" height="600" width="800">
    

  <p>&nbsp;</p>
  <h2> Sarah Leilani Chou </h2>
  
    <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>

</html>