<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
   <% include ../partials/header %>
  </header>

  <p id="demo">
    Hello.
    <img id="fall" src="/images/fall3.png" height="560" width="800">
  </p>




  <button type="button" onclick="myFunction()">
    Poke
  </button>
    <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>

</html>