<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
   <% include ../partials/header %>
  </header>

  <h1>Sharpay Evans</h1>

  <p id="demo">
    fetch me my jimmy choo flip flops 
    <img src="http://vignette3.wikia.nocookie.net/hsm/images/f/f3/Ashley_Tisdale_Sharpays_Fabulous_Adventure.jpg/revision/latest?cb=20130520002439" alt="Sharpay" height="200" width="300">
  </p>




  <button type="button" onclick="myFunction()">
    Press me
  </button>
    <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>

</html>