<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
   <% include ../partials/header %>
  </header>

  <!--<p id="demo">
    Hello testing hello testing hello testing .
     <img id="fall" src="/images/fall3.png" height="560" width="800"> 
  </p>

  <button type="button" onclick="myFunction()">
    Poke
  </button> -->
  <p>&nbsp;</p>
  <h2> Sarah Leilani Chou </h2>
  <p> hi </p>
  <p> Computer Science and Cognitive Psychology </p>
  
    <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>

</html>