<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>
<body class="container"> 

  <header>
   <% include ../partials/header %>
  </header>

  <h1> Sarah Leilani Chou </h1>
  
    <footer>
    <% include ../partials/footer %>
  </footer>
  
</body>

</html>