<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/lang-logo.png">
      </a>
      <h1>You did it!</h1>
    </div>
  </div>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
        <ul>
          <li>This app was deployed to Heroku using Git.</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3><span class="glyphicon glyphicon-link"></span> Hey there</h3>
        <ul>
          <li> List 2 </li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
