<html lang="en">
<head>
    <% include ../partials/head %>
    <title> Sarah Chou - Photos </title>
</head>
<body class="container">

  <header>
   <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
    <h1>Check out my photos!</h1>
    
    <p> <center> I love casual photography but mostly just like to take pics of my friends!</center></p>
    </div>

    <div class="image-container">
    <!-- <a> <center>
    <img id="aya" src="/images/aya.png" height="600" width="800">
    </center> 
    </a> -->

    <a> <center>
    <img id="palm" src="/images/palm.png" height="600" width="800">
    </center>
    </a>

    <a> <center>
    <img id="esplanade" src="/images/esplanade.jpg" height="600" width="800">
    </center>
    </a>

    <a> <center>
      <img id="me at es" src="/images/espledit2.jpg" height="580" width="800">
    </center></a>


    <a> <center>
    <img id="selfie" src="/images/selfie.png" height="600" width="800">
    </center>
    </a>

    <a> <center>
    <img id="toe touch" src="/images/toe touch.png" height="600" width="800">
    </center>
    </a>

    </div>
    </main>
    <footer>
    <% include ../partials/footer %>
  </footer>
  </body>
  </html>