<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
   <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
    <h1>Check out my photos!</h1>
    <p>I love casual photography but mostly just like to take pics of my friends!</p>
    </div>

    <div class="image-container">
    <a> 
    <img id="aya" src="/images/aya.png" height="600" width="800">
    </a>

    <a> 
    <img id="selfie" src="/images/selfie.png" height="600" width="800">
    </a>

    <a>
    <img id="toe touch" src="/images/toe touch.png" height="600" width="800">
    </a>
    </div>
    </main>
    <footer>
    <% include ../partials/footer %>
  </footer>
  </body>
  </html>