<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
   <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
    <h1>Check out my photos!</h1>
    <p>I love casual photography but mostly just like to take pics of my friends!</p>
    </div>

    <div class="image-container">
    <a> 
    <img id="meandsibs" src="/desktop/meandsibs.jpg">
    </a>

    <a> 
    <img id="nU" src="/desktop/nU.JPG">
    </a>

    <a>
    <img id="sunset" src="/desktop/sunset/jpg">
    </a>
    </div>
    </main>
    <footer>
    <% include ../partials/footer %>
  </footer>
  </body>
  </html>