<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Coding is awesome!</h1>
      <p>Coding is like magic. I love to create new projects that are useful and fun. Making these projects was a great learning process for me.</p>
    </div>
    <div class="container">
      <div class="code-container">
        <div>
          <h3>Tetris</h3>
          <p>More like TetSTRESS!! What a wild ride it's been. So crazy staying up endless hours to make a game of fitting blocks together</p>
      </div>
    </div>
    <div class="code-container">
      <div>
        <h3>Snake Game</h3>
        <p>lol those posns though</p>
      </div>
    </div>
    <div class="code-container">
      <div>
        <h3>Apple Game</h3>
        <p>Any apples on ground? Any apples caught?</p>
      </div>
    </div>

    <div class="code-container">
      <div>
        <h3>Forbiddden Island World</h3>
        <p>will your professor survive or will the shrinking island make him drown!?</p>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>