<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Coding is awesome!</h1>
      <p>Coding is like magic. I love to create new projects that are useful and fun. Making these projects was a great learning process for me.</p>
    </div>
    <div class="container">
      <div class="code-container">
        <div>
          <h3>Tetris</h3>
          <p>In Fundies 1, we created the well known game of Tetris from scratch using BSL in Racket. </p>
      </div>
    </div>
    <div class="code-container">
      <div>
        <h3>Maze Game</h3>
        <p>In this game, we used Breadth First Search and Depth First Search to solve a maze. This was coded in Java. </p>
      </div>
    </div>
    <div class="code-container">
      <div>
        <h3>Apple Game</h3>
        <p>In Fundies 2, I made a Falling Apples Game using Java, where the goal was to catch 10 falling apples in a basket by moving the arrow keys. Although the objective of the game is simple, I learned a lot about Java and different classes and methods necessary to create games.</p>
      </div>
    </div>

    <div class="code-container">
      <div>
        <h3>Forbiddden Island World</h3>
        <p>This game was also a Fundies 2 assignment, where my partner and I made an idland that shrunk onTick, and the goal was for the pilot to create all of the helicopter pieces that were scattered across the island before the water washed it away. </p>
      </div>
    </div>

    <div class="code-container">
      <div>
        <h3>FreeCell</h3>
        <p>In Object Oriented Design, I coded the game of Freecell with Java in IntelliJ. We used the Model-View-Controller software architectual pattern to complete the game. I had two different models for this game, where one allowed only single card moves, while the other allowed multi card moves with a valid build of opposite color and decreasing valued cards. </p>
      </div>
    </div>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>